#patternId {
		position: fixed;
		top: 20px;
		right: 25px;
		color: yellow;
		width: 30px;
		text-align: center;
		background-color: black;
		font-size: 20px;
		font-family: sans-serif;
		font-weight: bold;
}

.flip-card {
		background-color: blue;
		width: 80px;
		height: fit-content;
		perspective: 1000px;
		cursor: pointer;
}

.flip-card.noActive {
    opacity: 0;
}

.flip-card.noActive:hover {
	  opacity: 0;
	  cursor: default;
}

.flip-card:hover {
	  opacity: 0.8;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.visible .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
	  transform: rotateY(180deg);
}

.flip-card-back {
    color: white;
}

.flip-card-inner img {
    width: 100%;
  }
