ul {
		position: absolute;
		top: 10px;

		user-select: none;
		background-color: black;
		border-radius: 5px;
		margin: 0;
		padding: 10px;
		list-style-type: none;
		color: white;
		font-weight: bold;
		font-size: 15px;
		font-family: sans-serif;
}

ul.endScreenLayout {
		position: absolute;
		left: 0;
		top: 90px;
		font-size: 10px;
		width: 100vw;
		text-align: center;

		background: linear-gradient(
			  90deg,
        #ff0000,
        #ff6600,
        #ffcc00,
        #ffffff
    );

    background-size: 200%;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
}

